<div class="w-full p-4 hidden pwa:flex">
  <%= link_to clients_dashboards_path do %>
    <i class="lni lni-arrow-left text-2xl"></i>
  <% end %>
</div>
<div id="business_edit" class="flex flex-col gap-4 md:mt-20">
  <%= render 'clients/dashboards/onboarding_steps' %>
  <%= render 'clients/dashboards/info' %>
  <div class="relative w-full h-fit grid grid-cols-1 md:grid-cols-3 gap-4 mx-auto mt-4 px-4 md:px-0">
    <div class="w-full flex order-2 md:order-1 flex-col gap-4">
      <%= form_with(model: @business, url: clients_dashboards_business_path(@business), local: true, method: :put,
                    data: { controller: 'dashboard--file-upload' },
                    class: 'h-[200px] flex-none order-2 md:order-1'
          ) do |form| %>
        <% if @business.logo.present? && @business.logo.attached? %>
          <label
            for="business_logo"
            data-action="mouseenter->dashboard--file-upload#mouseEnterUploaded mouseleave->dashboard--file-upload#mouseLeaveUploaded"
            data-dashboard--file-upload-target="logoUploadContainer"
            class="relative dashboard-glass cursor-pointer w-full h-full  overflow-hidden rounded-2xl border flex flex-col items-center justify-center gap-2 text-[#7731D0]">
            <div
              class="absolute w-full h-full z-10">
              <%= image_tag rails_blob_url(@business.logo), class: 'object-cover w-full h-full' %>
            </div>
            <%- if @business.status == 'pending_review' %>
              <div
                class="cursor-auto absolute w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
                <div class="bg-white rounded-md px-3 py-2">
                  <p class="text-orange-500">Pending Review</p>
                </div>
              </div>
            <% else %>
              <div
                data-action="dashboard--file-upload#mouseClickUploaded"
                data-dashboard--file-upload-target="logoUploadedContainer"
                class="hidden absolute w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
                <div
                  data-dashboard--file-upload-target="logoCtaHover"
                  class="flex flex-col gap-1 items-center">
                  <i
                    data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                    class="lni lni-pencil text-2xl text-white"></i>
                  <button
                    data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                    class="hidden rounded bg-white px-3 py-1 hover:bg-purple-500 hover:text-white">
                    Upload
                  </button>
                  <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="text-white">Click to update
                    image</p>
                  <%= form.file_field :logo, class: 'hidden', data: {
                    action: 'change->dashboard--file-upload#changeFile',
                    'dashboard--file-upload-target': 'logoFile',
                  } %>

                </div>
              </div>
            <% end %>
          </label>
        <% else %>
          <label
            data-action="mouseenter->dashboard--file-upload#mouseEnter mouseleave->dashboard--file-upload#mouseLeave click->dashboard--file-upload#mouseClick"
            data-dashboard--file-upload-target="logoUploadContainer"
            for="business_logo" class="dashboard-glass cursor-pointer w-full h-full border border-[#7731D0] border-dashed rounded-2xl py-14 flex flex-col items-center justify-center gap-2 text-[#7731D0]">
            <div
              data-dashboard--file-upload-target="logoCta"
              class="flex flex-col gap-1 items-center">
              <i class="lni lni-camera text-2xl"></i>
              <p>Business Logo</p>
            </div>
            <div
              data-dashboard--file-upload-target="logoCtaHover"
              class="hidden flex flex-col gap-1 items-center">
              <i
                data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                class="lni lni-plus text-2xl"></i>
              <button
                data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                class="hidden border rounded px-3 py-1 hover:bg-purple-500 hover:text-white">
                Upload
              </button>
              <p data-dashboard--file-upload-target="logoCtaHoverMessage">Click to add image</p>
              <%= form.file_field :logo, class: 'hidden', data: {
                action: 'change->dashboard--file-upload#changeFile',
                'dashboard--file-upload-target': 'logoFile',
              } %>

            </div>
          </label>
        <% end %>
      <% end %>

      <%= form_with(model: @business, url: clients_dashboards_business_path(@business), local: true, method: :put,
                    data: { controller: 'dashboard--file-upload' },
                    class: 'h-[200px] flex-none order-3 md:order-2'
          ) do |form| %>
        <% if @business.listing.present? && @business.listing.attached? %>
          <label
            for="business_listing"
            data-action="mouseenter->dashboard--file-upload#mouseEnterUploaded mouseleave->dashboard--file-upload#mouseLeaveUploaded"
            data-dashboard--file-upload-target="logoUploadContainer"
            class="relative dashboard-glass cursor-pointer w-full h-full overflow-hidden rounded-2xl border flex flex-col items-center justify-center gap-2 text-[#7731D0]">
            <div
              class="absolute w-full h-full z-10">
              <%= image_tag rails_blob_url(@business.listing), class: 'object-cover w-full h-full' %>
            </div>
            <%- if @business.status == 'pending_review' %>
              <div
                class="absolute cursor-auto w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
                <div class="bg-white rounded-md px-3 py-2">
                  <p class="text-orange-500">Pending Review</p>
                </div>
              </div>
            <% else %>
              <div
                data-action="dashboard--file-upload#mouseClickUploaded"
                data-dashboard--file-upload-target="logoUploadedContainer"
                class="hidden absolute w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
                <div
                  data-dashboard--file-upload-target="logoCtaHover"
                  class="flex flex-col gap-1 items-center">
                  <i
                    data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                    class="lni lni-pencil text-2xl text-white"></i>
                  <button
                    data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                    class="hidden rounded bg-white px-3 py-1 hover:bg-purple-500 hover:text-white">
                    Upload
                  </button>
                  <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="text-white">Click to update
                    image</p>
                  <%= form.file_field :listing, class: 'hidden', data: {
                    action: 'change->dashboard--file-upload#changeFile',
                    'dashboard--file-upload-target': 'logoFile',
                  } %>

                </div>
              </div>
            <% end %>

          </label>
        <% else %>
          <label
            data-action="mouseenter->dashboard--file-upload#mouseEnter mouseleave->dashboard--file-upload#mouseLeave click->dashboard--file-upload#mouseClick"
            data-dashboard--file-upload-target="logoUploadContainer"
            for="business_listing" class="dashboard-glass cursor-pointer w-full h-full border border-[#BF2D6A] border-dashed rounded-2xl py-14 flex flex-col items-center justify-center gap-2 text-[#BF2D6A]">
            <div
              data-dashboard--file-upload-target="logoCta"
              class="flex flex-col gap-1 items-center">
              <i class="lni lni-pointer-top text-2xl"></i>
              <p>Listing Image</p>
            </div>
            <div
              data-dashboard--file-upload-target="logoCtaHover"
              class="hidden flex flex-col gap-1 items-center">
              <i
                data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                class="lni lni-plus text-2xl"></i>
              <button
                data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                class="hidden border rounded px-3 py-1 hover:bg-purple-500 hover:text-white">
                Upload
              </button>
              <p data-dashboard--file-upload-target="logoCtaHoverMessage">Click to add image</p>
              <%= form.file_field :listing, class: 'hidden', data: {
                action: 'change->dashboard--file-upload#changeFile',
                'dashboard--file-upload-target': 'logoFile',
              } %>

            </div>
          </label>
        <% end %>
      <% end %>
    </div>
    <div
      data-controller="dashboard--business--edit"
      data-dashboard--business--edit-target="formBox"
      class="h-full order-1 w-full md:col-span-2 rounded-2xl p-6 px-10 flex flex-col justify-start gap-2 bg-gradient-to-l from-violet-500 to-indigo-500 rounded-[20px] shadow text-white">
      <%= form_with model: [:clients, :dashboards, @business], class: 'flex flex-col justify-between space-between items-end h-full gap-4' do |f| %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 w-full">
          <div class="flex justify-start items-center">
            Name
          </div>
          <div class="col-span-2 flex flex-col gap-2">
            <%= f.text_field :name, placeholder: 'Company Name', disabled: @business.status == 'pending_review' %>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 w-full mt-4 md:mt-0">
          <div class="flex justify-start items-start pt-2">
            Address
          </div>
          <div class="col-span-2 flex flex-col gap-2">
            <%= f.text_field :address_line_1, placeholder: 'Address Line 1', disabled: @business.status == 'pending_review' %>

            <%= f.text_field :address_line_2, placeholder: 'Address Line 2', disabled: @business.status == 'pending_review' %>

            <%= f.text_field :postcode, placeholder: 'Postcode', disabled: @business.status == 'pending_review' %>

            <div
              data-controller="dashboard--city-update"
              class="flex flex-col md:flex-row gap-2 w-full">
              <%= f.collection_select :city, @cities, :name, :name, { include_blank: 'Select city...' },
                                      { selected: @business.city,
                                        data: {
                                          'dashboard--city-update-target': 'citySelect'
                                        },
                                        disabled: @business.status == 'pending_review'
                                      } %>

              <%= f.collection_select :state, @states, :name, :name, { include_blank: 'Select a state...' },
                                      { selected: @business.state,
                                        data: {
                                          action: 'change->dashboard--city-update#updateCities',
                                          'dashboard--city-update-target': 'stateSelect' },
                                        disabled: @business.status == 'pending_review'
                                      } %>

            </div>
          </div>

        </div>

        <div class="mt-10 col-span-3 w-full">
          <p class="font-semibold">Business Details</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 w-full mt-4 md:mt-0">
          <div
            class="flex justify-start items-center">
            Business ID
          </div>
          <div class="col-span-2 flex flex-col gap-2">
            <%= f.text_field :registration_id,
                             data: {
                               action: 'keyup->dashboard--business--edit#inputChange'
                             },
                             disabled: @business.status == 'pending_review',
                             class: 'w-full' %>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 w-full mt-4 md:mt-0">
          <div
            class="flex justify-start items-center">
            Opening Hours
          </div>
          <div class="col-span-2 grid grid-cols-2 gap-2">
            <%= f.select :open_at, options_for_select(
              [["Open at...", nil]] + @hours, @business.open_at&.to_time),
                         { selected: @business.city,
                         },
                         disabled: @business.status == 'pending_review' %>
            <%= f.select :close_at, options_for_select(
              [["Close at...", nil]] + @hours, @business.close_at&.to_time),
                         { selected: @business.city,
                         },
                         disabled: @business.status == 'pending_review' %>

          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 w-full mt-4 md:mt-0">
          <div
            class="flex justify-start items-center">
            Google Map Link
          </div>
          <div class="col-span-2 flex flex-col gap-2">
            <%= f.text_field :gmap_link, placeholder: 'https://maps.app.goo.gl/map_code',
                             class: 'w-full', disabled: @business.status == 'pending_review' %>
          </div>
          <%- if @business.status == 'new' %>
            <div class="md:col-start-2 md:col-span-2 flex flex-col gap-1">
              <p class="text-sm text-gray-200">You can copy your google map link by clicking "share" on your google
                map.</p>
              <div
                data-controller="modal"
                class="modal-groups">
                <button
                  data-action="modal#openModal analytic#track"
                  data-controller="analytic"
                  data-analytic-key-param="client.edit_business.tutorial_map"
                  type="button" class="p-2 bg-purple-700 rounded-md w-fit h-fit text-sm">See how
                </button>
                <%= render(ModalComponent.new(title: "Getting Link?")) do |component| %>
                  <div class="p-10 flex flex-col gap-4">
                    <div class="h-60 w-5/6 overflow-hidden border rounded-lg">
                      <img src='/assets/tutorials/copy_map_link.png' class="object-cover w-full h-full" alt="">
                    </div>

                    <p class="text-gray-500">
                      You can copy the link from your google map. It will have this format: <br/>
                      <span class="text-gray-400 select-none text-sm">https://maps.app.goo.gl/unique_code</span>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="flex flex-col gap-2 w-full mt-4 md:mt-0 text-sm text-purple-200 pr-10">
          <%- if @business.status == 'approved' %>
            <p>Notice: By updating this information, you are submitting a new approvals.</p>
            <ul class="list-disc list-inside">
              <li>Business Name</li>
              <li>Business ID</li>
              <li>Business Address</li>
              <li>Google Map Link</li>
              <li>Logo & Listing Image</li>
            </ul>
            <p>This is to preserve to our community guideline and ensure trusted information are shown
              to your customers.</p>
          <% end %>
        </div>

        <%- if @business.status != 'pending_review' %>
          <div class="flex gap-2">
            <%= link_to clients_dashboards_path, class: 'p-3 bg-red-500 rounded-lg flex items-center' do %>
              <i class="lni lni-close"></i>
            <% end %>
            <button class="p-3 bg-green-500 rounded-lg flex items-center">
              <i class="lni lni-checkmark"></i>
            </button>
          </div>
        <% else %>
          <div class="w-full">
            <p class="text-left text-purple-300">We are reviewing your details, you can edit afterwards.</p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="h-20"></div>
</div>