<div class="flex gap-2">
  <h1 class="text-2xl font-bold pl-1">Product List</h1>

  <%= link_to new_dashboards_product_path, class: 'px-2 py-2 rounded-md bg-purple-500 text-white flex items-center justify-center' do %>
    <i class="lni lni-circle-plus"></i>
  <% end %>
</div>
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-4">
  <% @products.each do |product| %>
    <%= link_to dashboards_product_path(product), class: 'p-4 border rounded-2xl flex flex-col gap-2 bg-white' do %>
        <div
          class="w-20 h-20 rounded-2xl overflow-hidden">
          <% if product.image.present? && product.image.attached? %>
          <%= image_tag rails_blob_url(product.image), class: 'object-cover w-full h-full' %>
            <% else %>
          <div class="w-full h-full bg-gray-400"></div>
          <% end %>
        </div>

      <strong><%= product.name || 'No Name-' %></strong> <%= number_to_currency(product.price, locale: :ms) %>
    <% end %>
  <% end %>
</div>

