<div class="flex flex-col text-center w-full max-w-2xl mx-auto pb-20">
  <div
    style="background-color: <%= @brand.brand_color %>"
    class="flex flex-col gap-10 items-center text-center py-20">
    <h2 class="text-4xl font-bold" style="color: <%= @brand.text_color %>"><%= @brand.name %></h2>
    <%= link_to "Go Back", rider_root_path, class: 'px-4 py-2 text-gray-700 bg-white rounded-md' %>
  </div>

  <div class="px-4">
    <div class="mt-10 flex flex-col gap-2 text-left text-gray-700">
      <div class="flex flex-col gap-2 mb-4">
        <div class="flex gap-1 items-center pl-0.5">
          <i class="lni lni-bolt"></i>
          <h3 class="text-xl md:text-xl pl-0.5 font-semibold">Benefits</h3>
        </div>

      </div>
      <%- @benefits.each do |benefit| %>
        <%- if
            benefit.rider_brand_benefit.approved_at.present? ||
              (benefit.rider_brand_benefit.approved_at.blank? && (rider_signed_in? && benefit.rider_brand_benefit.created_by_id == current_rider.id)) %>
          <% cache benefit do %>
            <div
              class="w-full <%= benefit.total_votes < 0 ? 'text-gray-700' : '' %> bg-white flex gap-2 justify-between items-start md:items-center px-6 py-2 border rounded-md text-left">
              <div class="flex flex-col gap-1">
                <p class="text-sm md:text-normal <%= benefit.rider_brand_benefit.approved_at.present? ? 'font-semibold' : 'text-gray-400' %>"><%= benefit.rider_brand_benefit.description %></p>
                <p class="text-xs md:text-normal text-gray-300">by <%= benefit.rider_brand_benefit.created_by.first_name %></p>
              </div>
              <div class="flex items-center gap-2 text-gray-300 cursor-default">

                <%- if benefit.rider_brand_benefit.approved_at.blank? && (rider_signed_in? && benefit.rider_brand_benefit.created_by_id == current_rider.id) %>
                  <button
                    data-controller="tooltip"
                    title="This is your submission. We will review shortly."
                    class="flex items-center on-review w-fit h-fit">
                    <i class="lni lni-comments-alt-2"></i>
                  </button>
                <% end %>

                <p class="md:text-lg"><%= benefit.total_votes %></p>
                <div class="flex items-center gap-2">
                  <%= button_to riders_brands_upvote_path(brand_id: @brand.id),
                                method: :post,
                                params: {
                                  benefit_id: benefit.rider_brand_benefit.id
                                },
                                class: "flex items-center pb-1 #{upvoted?(@my_votes, benefit.rider_brand_benefit.id) ? 'text-green-500' : ''} hover:text-green-500" do %>
                    <i class="lni lni-arrow-up"></i>
                  <% end %>
                  <%= button_to riders_brands_downvote_path(brand_id: @brand.id),
                                method: :post,
                                params: {
                                  benefit_id: benefit.rider_brand_benefit.id
                                },
                                class: "flex items-center pb-1 #{downvoted?(@my_votes, benefit.rider_brand_benefit.id) ? 'text-orange-500' : ''} hover:text-orange-500" do %>
                    <i class="lni lni-arrow-down"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <%- end %>
      <% end.empty? and begin %>
        <div class="w-full flex items-center justify-center px-4 py-10 border rounded-lg bg-white">
          <p class="text-gray-400">No benefits found. Easily join and add one.</p>
        </div>
      <% end %>
      <%- if !rider_signed_in? && @total_benefits > 5 %>
        <div class="flex items-center justify-center mt-4">
          <p>Join now to unlock and see <%= @total_benefits - 5 %>+ more benefits</p>
        </div>
      <% end %>
      <%= render 'landings/riders/brands/form' %>
    </div>

    <%- unless rider_signed_in? %>
      <div class="mt-16 flex flex-col gap-4">
        <p>Know other benefit with <%= @brand.name %>? Join now to add for free.</p>
        <div class="flex gap-2 items-center justify-center">
          <% [:google_oauth2, :twitter].each do |provider| %>
            <%= button_to "/auth/#{provider}?role=riders&redirect_to=#{request.original_url}", method: :post, data: { turbo: false },
                          class: 'border bg-white border-gray-300 px-4 py-3 flex items-center justify-between rounded-lg gap-4 fill-blue-400' do %>
              <%= image_tag "logos/#{omniauth_logo(provider)}", class: 'border-none drops-shadow-none shadow-none w-4 fill-blue-400', alt: 'Your Image' %>
              <p><%= "#{omniauth_name(provider)}" %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mt-20 flex flex-col gap-2 text-left text-gray-400">
      <p class="text-gray-400 text-center">These are community driven data, shared by riders from local community.</p>
      <div class="mt-10 flex flex-col gap-2">
        <p>If you have experience or are working with <%= @brand.name %>, you can share the benefit you've
          experienced.</p>
        <ol class="list-decimal list-inside flex flex-col gap-1">
          <li>Take a look at other's submission first, and upvote/downvote where necessary before creating a new
            record.
          </li>
          <li>Provide the best information that you can, so that it can help others to learn more.</li>
          <li>Feel free to use our national language, Bahasa Melayu, or English.</li>
          <li>Once you've submitted, we will review shortly to ensure it adheres to community guideline (no profanity,
            proper
            language etc)
          </li>
          <li>Let's continue creating a healthy supportive community.</li>
        </ol>
      </div>
    </div>
  </div>
</div>