<div class="flex flex-col gap-4 my-20">
  <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-10 md:px-0">
    <%= form_with(model: @user, url: dashboards_account_path, local: true, method: :put,
                  data: { controller: 'dashboard--file-upload' },
                  class: ' h-[160px] md:h-[200px] flex-none order-4 md:order-1 md:col-start-1 row-start-1 md:row-start-1'
        ) do |form| %>
      <% if @user.avatar.present? && @user.avatar.attached? %>
        <label
          for="client_avatar"
          data-action="mouseenter->dashboard--file-upload#mouseEnterUploaded mouseleave->dashboard--file-upload#mouseLeaveUploaded"
          data-dashboard--file-upload-target="logoUploadContainer"
          class="relative dashboard-glass cursor-pointer w-full h-full  overflow-hidden rounded-2xl border flex flex-col items-center justify-center gap-2 text-[#7731D0]">
          <div
            class="absolute w-full h-full z-10">
            <%= image_tag rails_blob_url(@user.avatar), class: 'object-cover w-full h-full' %>
          </div>
          <div
            data-action="click->dashboard--file-upload#mouseClickUploaded"
            data-dashboard--file-upload-target="logoUploadedContainer"
            class="hidden absolute w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
            <div
              data-dashboard--file-upload-target="logoCtaHover"
              class="flex flex-col gap-1 items-center">
              <i
                data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                class="lni lni-pencil text-2xl text-white"></i>
              <button
                data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                class="hidden rounded bg-white px-3 py-1 hover:bg-purple-500 hover:text-white">
                Upload
              </button>
              <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="text-white hidden md:block">Click to update image</p>
              <%= form.file_field :avatar, class: 'hidden', data: {
                action: 'change->dashboard--file-upload#changeFile',
                'dashboard--file-upload-target': 'logoFile',
              } %>

            </div>
          </div>
        </label>
      <% else %>
        <label
          data-action="mouseenter->dashboard--file-upload#mouseEnter mouseleave->dashboard--file-upload#mouseLeave click->dashboard--file-upload#mouseClick"
          data-dashboard--file-upload-target="logoUploadContainer"
          for="client_avatar" class="dashboard-glass cursor-pointer w-full h-full border border-[#7731D0] border-dashed rounded-2xl py-14 flex flex-col items-center justify-center gap-2 text-[#7731D0]">
          <div
            data-dashboard--file-upload-target="logoCta"
            class="flex flex-col gap-1 items-center">
            <i class="lni lni-camera text-2xl"></i>
            <p>Avatar</p>
          </div>
          <div
            data-dashboard--file-upload-target="logoCtaHover"
            class="hidden flex flex-col gap-1 items-center">
            <i
              data-dashboard--file-upload-target="logoCtaHoverIconPlus"
              class="lni lni-plus text-2xl"></i>
            <button
              data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
              class="hidden border rounded px-3 py-1 hover:bg-purple-500 hover:text-white">
              Upload
            </button>
            <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="hidden md:block">Click to add image</p>
            <%= form.file_field :avatar, class: 'hidden', data: {
              action: 'change->dashboard--file-upload#changeFile',
              'dashboard--file-upload-target': 'logoFile',
            } %>

          </div>
        </label>
      <% end %>
    <% end %>

    <div
      data-controller="dashboard--detail"
      data-action="mouseenter->dashboard--detail#showEdit mouseleave->dashboard--detail#hideEdit"
      class="order-1 md:order-2 w-full col-span-2 rounded-2xl h-[200px] p-6 flex flex-col justify-start gap-2 bg-gradient-to-l from-[#4CA2C7] to-[#5570D0] rounded-[20px] shadow text-white">
      <div class="flex justify-between items-start">
        <div class="flex flex-col justify-between items-start">
          <div class="flex gap-4 items-center">
            <h1 class="text-2xl text-white"><%= @user.first_name %> <%= @user.last_name %></h1>
          </div>
          <div class="flex flex-col">
            <p><%= @user.email %></p>
          </div>
        </div>

        <%= link_to edit_dashboards_account_path, data: { 'dashboard--detail-target': 'editButton'}, class: 'hidden flex items-center mt-2' do %>
          <i class="lni lni-pencil-alt"></i>
        <% end %>
      </div>

    </div>

    <div
      class="order-1 md:order-2 w-full col-span-2 md:col-start-2 rounded-2xl h-[200px] p-6 flex flex-col justify-start gap-2 bg-gradient-to-l from-[#4CA2C7] to-[#5570D0] rounded-[20px] shadow text-white">
      <div class="flex justify-between items-start">
        <div class="flex flex-col justify-between items-start">
          <div class="flex gap-4 items-center">
            <h1 class="text-2xl text-white">Linked Social Account</h1>
          </div>
          <div class="flex flex-col">
            <div class="flex gap-2 items-center justify-center pt-10">
              <% [:google_oauth2, :twitter].each do |provider| %>
                <%- if current_client.omniauth_accounts.include?(provider.to_s) %>
                  <button class="border bg-white border-gray-300 bg-white text-black px-4 py-3 flex items-center justify-between rounded-sm gap-4 fill-blue-400">
                    <%= image_tag "logos/#{omniauth_logo(provider)}", class: 'border-none drops-shadow-none shadow-none w-4 fill-blue-400', alt: 'Your Image' %>
                    <p><%= "#{omniauth_name(provider)}" %></p>
                  </button>
                <% else %>
                  <%= button_to "/auth/#{provider}?role=clients&purpose=link&user_id=#{current_client.id}", method: :post, data: { turbo: false },
                                class: "border bg-white border-gray-300 opacity-50 text-black px-4 py-3 flex items-center justify-between rounded-sm gap-4 fill-blue-400" do %>
                    <%= image_tag "logos/#{omniauth_logo(provider)}", class: 'border-none drops-shadow-none shadow-none w-4 fill-blue-400', alt: 'Your Image' %>
                    <p><%= "#{omniauth_name(provider)}" %></p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="h-20"></div>
</div>