<div
  data-modal-target="modal"
  id="modal" class="<%= @opened ? '' : 'hidden' %> fixed top-0 right-0 w-screen h-screen z-10 overflow-hidden">
  <div class="fixed top-0 right-0 h-screen w-screen bg-black opacity-40 z-20 overflow-hidden"></div>
  <div class="fixed top-0 right-0 h-screen w-screen z-30 flex items-center justify-center overflow-hidden">
    <div class="bg-white rounded-lg mx-10 overflow-hidden">
      <div
        id="modal-title"
        class="px-10 py-2 flex items-center justify-center gap-2">
        <h3 class="text-lg text-gray-800"><%= @title %></h3>
        <%= header_icon %>
      </div>
      <hr>
      <div id="modal-content" class="flex flex-col gap-2 max-h-[400px] overflow-y-scroll">
        <%= content %>
      </div>
      <div id="modal-action" class="border-t flex divide-x items-center justify-center">
        <button
          type="button"
          data-action="modal#closeModal"
          class="w-full h-full py-3 text-gray-400 hover:text-white hover:bg-purple-600">Close
        </button>
        <%= primary_action %>
      </div>
    </div>
  </div>
</div>