<div class="flex flex-col gap-4 mt-4 md:mt-10 w-full h-fit">
  <%= render 'clients/dashboards/info' %>
  <%= render 'clients/dashboards/onboarding_steps' %>

  <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-2 mx-auto px-4 md:px-0">
    <div
      data-controller="dashboard--detail"
      class="order-1 md:order-2 w-full col-span-2 rounded-2xl h-[200px] p-6 flex flex-col justify-start gap-2 bg-gradient-to-l from-violet-500 to-indigo-500 rounded-[20px] shadow text-white">
      <div class="flex justify-between items-center">
        <div class="flex flex-col md:flex-row md:gap-4 md:items-center">
          <h1 class="text-2xl text-white"><%= @business.name %></h1>
          <small class="text-xs text-gray-300"><%= @business.registration_id %></small>
        </div>
        <%= link_to edit_clients_dashboards_business_path, class: 'flex items-center' do %>
          <i class="lni lni-pencil-alt"></i>
        <% end %>
      </div>
      <p class="text-sm">
        <% if @business.address_line_1.present? %><%= @business.address_line_1 %><br>
        <% end %>
        <% if @business.address_line_2.present? %><%= @business.address_line_2 %><br>
        <% end %>
        <%= @business.postcode.present? ? @business.postcode + ',' : '' %> <%= @business.city %><br>
        <%= @business.state %>
      </p>
    </div>

    <%= link_to clients_dashboards_path,
                class: 'cursor-pointer order-2 py-4 md:py-0 md:order-4 w-full h-[140px] md:h-[200px] bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4',
                style: 'box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);' do %>
      <h2 class="text-4xl md:text-6xl"><%= @regulars_total || 0 %></h2>
      <p class="text-sm">Regulars</p>
    <% end %>

    <%= link_to clients_dashboards_customers_path, class: 'cursor-pointer order-3 py-4 md:py-0 md:order-5 w-full h-[140px] bg-purple-200 md:h-[200px] rounded-2xl flex flex-col items-center justify-center gap-4 text-gray-700' do %>
      <h2 class="text-4xl md:text-6xl"><%= @reviews %></h2>
      <p class="text-sm">Reviews</p>
    <% end %>
  </div>

  <div class="w-full h-fit px-4 mt-10 md:hidden">
    <div class="flex gap-2 items-center text-rose-500 pl-0.5">
      <i class="lni lni-cloud-network"></i>
      <h1 class="text-lg">AI Tools</h1>
    </div>
    <p class="text-gray-400 text-sm pl-0.5">Powerful AI tools to help your business grow.</p>
    <div class="grid grid-cols-3 md:grid-cols-3 gap-2 mx-auto md:px-0 mt-4">
      <%= link_to clients_dashboards_tool_moodboard_path, class: 'cursor-pointer order-3 py-6 md:order-5 w-full h-fit border border-rose-200 text-rose-600 h-fit rounded-2xl flex flex-col items-center justify-center gap-4' do %>
        <p>Mood Board</p>
      <% end %>
      <%= link_to clients_dashboards_tool_marketing_path, class: 'cursor-pointer order-3 py-6 md:order-5 w-full h-fit border border-rose-200 text-rose-600 h-fit rounded-2xl flex flex-col items-center justify-center gap-4' do %>
        <p>Marketing</p>
      <% end %>
    </div>
  </div>

  <%- if false %>
    <div class="w-full h-fit px-4 mt-6 md:hidden">
      <div class="flex gap-2 items-center text-rose-500 pl-0.5">
        <i class="lni lni-heart"></i>
        <h1 class="text-lg">Human Experts</h1>
      </div>
      <p class="text-gray-400 text-sm pl-0.5">Reducing the barriers of working with human experts.</p>
      <div class="flex mx-auto md:px-0 mt-4">
        <div class="cursor-pointer order-3 py-2 md:order-5 w-full h-fit border border-rose-200 text-rose-600 h-fit rounded-md flex flex-col items-center justify-center gap-4">
          Learn More
        </div>
      </div>
    </div>
  <% end %>

  <%- if false %>
    <div class="w-full h-fit px-4 mt-10 md:hidden">
      <div class="flex gap-2 items-center text-rose-500 pl-0.5">
        <i class="lni lni-headphone"></i>
        <h1 class="text-lg">AI Coach</h1>
      </div>
      <p class="text-gray-400 text-sm pl-0.5">Artificial coach that can help you with your business question.</p>
      <div class="flex gap-2 mx-auto md:px-0 mt-4">
        <%= link_to clients_dashboards_tool_marketing_path, class: 'cursor-pointer order-3 py-3 w-full h-fit border border-rose-200 text-rose-600 h-fit rounded-lg flex flex-col items-center justify-center gap-4' do %>
          <p><i class="lni lni-lock-alt"></i></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <%- if false %>
    <div class="w-full h-fit px-4 mt-10 md:hidden">
      <div class="flex gap-2 items-center text-rose-500 pl-0.5">
        <i class="lni lni-warning"></i>
        <h1 class="text-lg">Public Relation</h1>
      </div>
      <p class="text-gray-400 text-sm pl-0.5">AI can help maintain and improve your public reputations when things go
        wrong.</p>
      <div class="flex gap-2 mx-auto md:px-0 mt-4">
        <%= link_to clients_dashboards_tool_marketing_path, class: 'cursor-pointer order-3 py-3 w-full h-fit border border-rose-200 text-rose-600 h-fit rounded-lg flex flex-col items-center justify-center gap-4' do %>
          <p><i class="lni lni-lock-alt"></i></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="w-full h-fit px-4 mt-10 mb-20 md:hidden">
    <div class="flex gap-2 items-center">
      <i class="lni lni-cog text-gray-400 pl-0.5"></i>
      <h1 class="text-lg text-gray-700">Manage Business</h1>
    </div>
    <p class="text-gray-400 text-sm pl-0.5">Manage and oversee your business.</p>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-2 mx-auto md:px-0 mt-4">
      <%= link_to clients_dashboards_reward_path, class: 'cursor-pointer order-3 py-10 md:order-5 w-full h-fit bg-gray-200 h-fit rounded-2xl flex flex-col items-center justify-center gap-4 text-gray-700' do %>
        <p>Manage Rewards</p>
      <% end %>
    </div>
  </div>
</div>
