<h2>Sign up</h2>
<p class="text-small text-gray-400 text-center mb-4">Start growing your regular customers!</p>

<%= render "clients/shared/omniauths" %>

<div class="flex gap-6 w-full items-center my-4">
  <div class="h-[1px] bg-gray-200 w-full"></div>
  <p>or</p>
  <div class="h-[1px] bg-gray-200 w-full"></div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { controller: 'recaptcha' }) do |f| %>
  <%= render "clients/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <%= recaptcha_v3(action: 'register', turbolinks: true) %>

<% end %>

<%= render "clients/shared/links" %>
