<%= content_for(:title, 'Regular Database') %>

<div class="flex flex-col items-center mt-10 gap-2 px-10 text-center">
  <div class="rounded-2xl overflow-hidden h-40 md:h-60 flex items-center justify-center">
  <%= image_tag 'banners/banner_regeular_thin.png', class: 'w-full max-w-2xl', alt: 'QR Code' %>
  </div>
  <h1 class="text-2xl font-light mt-4">Regular Database</h1>
  <p class="text-gray-400">Easily manage your regular customer database.</p>
</div>

<%- if client_signed_in? %>
  <div class="flex flex-col gap-3 items-center justify-center mt-10">
    <div class="w-52 md:w-60 h-full p-4 text-center bg-white border rounded-2xl">
      <%= raw generate_qr(@path, color: '000000') %>
    </div>
    <div
      data-controller="clipboard"
      class="flex gap-2">
      <a
        data-controller="analytic"
        data-analytic-key-param="client.download_qr_pdf"
        data-action="click->analytic#track"
        href="<%= printable_path %>" download="printable_qr_code.pdf" class="border rounded-md px-4 py-2 bg-white hover:bg-gray-200">Download PDF</a>
      <button
        data-controller="analytic"
        data-analytic-key-param="client.shareable_link"
        data-clipboard-target="text"
        data-action="click->clipboard#copyValue analytic#track"
        data-value="<%= @path %>"
        class="border rounded-md px-4 py-2 bg-white hover:bg-gray-200 min-w-40">Shareable Link</button>
    </div>
  </div>
<% else %>
  <div class="flex flex-col gap-4 items-center justify-center mt-10">
    <div class="w-52 md:w-60 h-full p-4 text-center bg-white border rounded-2xl">
      <%= raw generate_qr('https://regeular.io', color: '000000') %>
    </div>
  </div>
<% end %>

<%- if client_signed_in? %>
  <div class="flex flex-col gap-1 mt-10 px-4 text-gray-500 w-full max-w-2xl mx-auto">
    <div class="flex gap-1 items-center">
      <h2 class="text-lg">My Database</h2>
      <%= link_to business_root_path, class: 'flex items-center' do %>
        <i class="lni lni-reload"></i>
      <% end %>
    </div>
    <p>Your database has <%= @customers.count %> customers.</p>

    <% @customers.each do |customer| %>
      <div class="border rounded-md px-4 py-2 bg-white">
        <p><%= customer.user.full_name %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="flex flex-col gap-2 mt-10 px-4 text-gray-500 w-full max-w-2xl mx-auto">
    <div class="flex gap-2 items-center">
      <h2 class="text-lg">My Database</h2>
    </div>
    <p>Your database has 150 customers.</p>
    <div class="flex flex-col gap-1">
      <div class="border rounded-md px-4 py-2 bg-white">
        <p>Farhana Binti Ismail</p>
      </div>

      <div class="border rounded-md px-4 py-2 bg-white">
        <p>Muhammad Zahir Bin Hassan</p>
      </div>

      <div class="border rounded-md px-4 py-2 bg-white">
        <p>Nurul Huda Binti Zainal</p>
      </div>

      <div class="border rounded-md px-4 py-2 bg-white">
        <p>Siti Aminah Binti Mohd Yusof</p>
      </div>

      <div class="border rounded-md px-4 py-2 bg-white">
        <p>Amirul Fikri Bin Mahmood</p>
      </div>

      <div class="border rounded-md px-4 py-2 bg-white">
        <p>...</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col px-5 mt-2 text-gray-300 text-sm w-full max-w-2xl mx-auto">
    <p>*You're in Demo Mode. Names are made up to show demonstration</p>
  </div>
<% end %>

<div class="flex flex-col gap-2 mt-10 px-4 text-gray-500 w-full max-w-2xl mx-auto">
  <h2 class="text-lg">Upcoming Features</h2>
  <div class="flex flex-col gap-1">
    <div class="border
      bg-gray-200
      text-gray-400
      rounded-md px-4 py-2 text-center flex items-center justify-center gap-1">
      <p>Loyalty Stamps</p>
      <i class="lni lni-lock-alt"></i>
    </div>

    <div class="border
      bg-gray-200
      text-gray-400
      rounded-md px-4 py-2 text-center flex items-center justify-center gap-1">
      <p>Blast Promotion</p>
      <i class="lni lni-lock-alt"></i>
    </div>

    <div class="border
      bg-gray-200
      text-gray-400
      rounded-md px-4 py-2 text-center flex items-center justify-center gap-1">
      <p>Customer Rewards</p>
      <i class="lni lni-lock-alt"></i>
    </div>
  </div>
</div>

<div class="px-4 mt-20 w-full max-w-2xl mx-auto">
  <div class="bg-white text-gray-600 p-10 rounded-lg border flex flex-col gap-2 text-sm">
    <h2 class="text-xl">How it works?</h2>
    <ol class="list-decimal list-inside">
      <li>Show QR Code to customer</li>
      <li>Customer join (with Google, Twitter)</li>
      <li>Done! Grow your customer database</li>
    </ol>

    <h2 class="text-xl mt-10">Next Update</h2>
    <%- if @client_count < 100 %>
      <div class="flex items-center gap-2">
        <div class="w-full h-2 rounded-full overflow-hidden bg-gray-200">
          <div class="h-full rounded-full bg-green-400" style="width: <%= @client_count * 1.0 + 2.0/100 * 100 %>%;"></div>
        </div>
        <div class="flex w-fit">
          <p><%= @client_count %>/100</p>
        </div>
      </div>
      <p>We need 100 business to register for this feature. Share with your friends and family.</p>
      <ul class="list-disc list-inside pl-1">
        <li>Loyalty Stamps</li>
        <li>Give rewards to customer</li>
        <li>Push notifications to customer, everytime you have rewards</li>
        <li>Push notifications to you when customer signed in</li>
      </ul>
    <% else %>
      <div class="flex items-center gap-2">
        <div class="w-full h-2 rounded-full overflow-hidden bg-gray-200">
          <div class="h-full rounded-full bg-green-400 w-full"></div>
        </div>
      </div>
      <div class="flex grow">
        <p class="text-gray-400">(50+ registered)</p>
      </div>
      <p class="text-gray-400">Thank you for your interest! We will update here when the feature is ready.</p>
      <ul class="list-disc list-inside mt-4">
        <li>Give rewards to customer</li>
        <li>Push notifications to customer, everytime you have rewards</li>
        <li>Push notifications to you when customer signed in</li>
      </ul>
    <% end %>
  </div>
</div>

<div class="flex flex-col px-4 mt-10 text-center w-full max-w-2xl mx-auto">
  <% if client_signed_in? %>
    <div class="w-full p-4 bg-white border rounded-md flex flex-col gap-4">
      <p>Welcome, <%= current_client.full_name %>!</p>
      <%= button_to "Logout", destroy_client_session_path, method: :delete, class: 'p-4 py-3 bg-black text-white rounded-md w-full' %>
    </div>
  <% else %>
    <p>Join Now</p>

    <div class="flex flex-col gap-4">
      <p class="text-sm text-gray-500">Easily join now so you don't lose your customer!</p>
      <div class="flex gap-2 items-center justify-center">
        <% [:google_oauth2, :twitter].each do |provider| %>
          <%= button_to "/auth/#{provider}?role=clients&redirect_to=#{request.original_url}", method: :post, data: { turbo: false },
                        class: 'border bg-white border-gray-300 px-4 py-3 flex items-center justify-between rounded-lg gap-4 fill-blue-400' do %>
            <%= image_tag "logos/#{omniauth_logo(provider)}", class: 'border-none drops-shadow-none shadow-none w-4 fill-blue-400', alt: 'Your Image' %>
            <p><%= "#{omniauth_name(provider)}" %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>