<% content_for :back_to do %>
  <%= link_to clients_dashboards_qrs_path do %>
    <i class="lni lni-arrow-left text-2xl"></i>
  <% end %>
  <div class="col-span-3 flex items-center justify-center">Edit Bank</div>
<% end %>

<div id="bank_edit" class="flex flex-col gap-4 my-4 md:my-20">
  <div class="w-full h-fit flex flex-col gap-4 mx-auto px-4 md:px-0 text-gray-400">
    <div
      style="box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);"
      class="cursor-pointer py-4 md:py-0 w-full h-fit bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4">
      <%= form_with(model: @bank_info, url: clients_dashboards_qrs_bank_path, method: :put, local: true, class: 'w-full h-full px-10 py-6 flex flex-col justify-between') do |form| %>
        <div class="flex flex-col gap-4">
          <div class="field">
            <%= form.label :bank_name, for: :bank_id %>

            <%= form.collection_select :bank_id, Common::Bank.all.order(name: :asc), :id, :name, { include_blank: 'Select a bank...' },
                                       { selected: @bank_info&.bank_id.present? ? @bank_info.bank_id : nil } %>
          </div>

          <div class="field">
            <%= form.label :full_name %>
            <%= form.text_field :full_name %>
          </div>

          <div class="field">
            <%= form.label :account_number %>
            <%= form.text_field :account_number %>
          </div>
        </div>

        <div class="flex gap-2 items-end justify-end mt-10">
          <%= link_to clients_dashboards_qrs_path, class: 'p-3 bg-red-500 rounded-lg flex items-center' do %>
            <i class="lni lni-close"></i>
          <% end %>
          <button class="p-3 bg-green-500 rounded-lg flex items-center">
            <i class="lni lni-checkmark"></i>
          </button>
        </div>
      <% end %>
    </div>
    <p class="px-0.5">You can share your bank QR code to customer that would like to do transfer.</p>

  </div>
</div>