<%= content_for(:title, 'Regülar') %>

<div
  class="relative bg-cover bg-center h-[440px] py-20" style="background-image: url('/assets/hero_bg.png')">
  <%= render 'landings/customers/navbar' %>
  <div class="absolute inset-0 flex gap-10 flex-col items-center justify-center py-20 px-10 text-center">
    <div class="flex flex-col gap-2 items-center">
      <h1 class="text-4xl font-bold text-center bg-white w-fit">Regülar</h1>
      <p class="text-gray-600 bg-white">Find the best merchant around you, with
        <strong class="text-purple-600">genuine</strong>
        reviews</p>
    </div>
    <p class="text-gray-600 bg-white">
      <%= link_to business_root_url(host: Rails.application.credentials.dig(:host, :business)), target: '_blank' do %>
        <u>Want to add your business for free?</u>
      <% end %>
    </p>
    <% if false %>
      <div class="w-full h-fit rounded-lg border px-8 py-4 max-w-lg bg-white flex gap-4 items-center text-gray-400">
        <i class="lni lni-search-alt"></i> Western
      </div>
    <% end %>
  </div>
</div>

<% if false %>
  <div class="px-10 w-full">
    <div class="flex gap-1 w-full md:justify-center overflow-x-scroll rounded-full no-scrollbar">
      <button class="px-4 py-1 bg-green-600 text-white rounded-full flex-none">
        Halal
      </button>
      <button class="px-4 py-1 bg-green-600 text-white rounded-full flex-none">
        Western
      </button>
      <% @tags.each do |tag| %>
        <button class="px-4 py-1 border rounded-full hover:bg-black flex-none hover:text-white">
          <%= tag %>
        </button>
      <% end %>
    </div>
  </div>
  <div class="h-20"></div>
<% end %>

<div class="flex gap-1 w-full max-w-6xl mx-auto px-10">
  <%= link_to 'Why is it purple star?', how_it_works_path, class: 'pl-1 text-gray-400 underline py-2' %>
</div>

<div class="flex gap-1 w-full max-w-6xl mx-auto px-10">
  <div class="flex flex-col flex-col gap-4">
    <div class="flex gap-1">
      <%= link_to customer_root_path(most: 'regular', state: params[:state], city: params[:city]), class: "px-4 py-1 border rounded-full #{params[:most].present? && params[:most] == 'regular' ? 'bg-black text-white' : 'bg-white'} hover:bg-black hover:text-white flex items-center gap-2" do %>
        Most <span class="text-purple-600 flex items-center"><i class="lni lni-star-fill"></i></span>
      <% end %>
      <%= link_to customer_root_path(most: 'rating', state: params[:state], city: params[:city]), class: "px-4 py-1 border rounded-full hover:bg-black #{params[:most].present? && params[:most] == 'rating' ? 'bg-black text-white' : 'bg-white'} hover:text-white flex items-center gap-2" do %>
        Most <span class="text-yellow-400 flex items-center"><i class="lni lni-star-fill"></i></span>
      <% end %>
      <%- if params[:most].present? %>
        <%= link_to customer_root_path, class: "px-2 rounded-full flex items-center gap-2" do %>
          <i class="lni lni-cross-circle"></i> Reset
        <% end %>
      <% end %>
    </div>
    <div
      data-controller="dashboard--city-update"
      class="flex gap-1">
      <%= collection_select(:state, :name, @states, :name, :name,
                            {
                              selected: params[:state],
                              include_blank: 'State...'
                            },
                            {
                              class: "px-4 py-1 border-gray-300 rounded-full #{params[:state].present? ? 'bg-black text-white' : 'bg-white'} hover:bg-black hover:text-white flex items-center gap-2 min-w-[140px] pr-4 w-fit justify-between",
                              data: {
                                controller: 'customer--landing',
                                action: 'customer--landing#changeState',
                                'customer--landing-target': 'stateSelect'
                              }
                            }) %>

      <%= collection_select(:city, :name, @cities, :name, :name,
                            {
                              selected: params[:city],
                              include_blank: 'City...'
                            },
                            {
                              class: "px-4 py-1 border-gray-300 rounded-full #{params[:city].present? ? 'bg-black text-white' : 'bg-white'} hover:bg-black hover:text-white flex items-center gap-2 min-w-[160px] w-fit pr-10 justify-between",
                              data: {
                                controller: 'customer--landing',
                                action: 'customer--landing#changeCity',
                                'dashboard--city-update-target': 'citySelect'
                              }
                            }) %>
    </div>
  </div>
</div>
<div class="h-20"></div>

<div class="grid grid-cols-1 md:grid-cols-2 px-10 gap-10 w-full max-w-6xl mx-auto ">
  <% @businesses.each do |business| %>
    <div
      data-controller="landing--customer"
      class="select-none h-[240px] md:h-[200px] w-full border rounded-2xl md:rounded-lg bg-white hover:drop-shadow-md flex overflow-hidden">
      <div class="relative w-full lg:w-52 flex-none h-full">
        <!--Listing Image-->
        <% if business.listing.present? && business.listing.attached? %>
          <%= image_tag url_for(business.listing), class: 'absolute w-full h-full object-cover z-10' %>
        <% end %>
        <div
          class="absolute w-full h-full bg-gradient-to-t from-black via-transparent to-transparent z-20"></div>
        <div
          class="absolute w-full h-full bg-gradient-to-t from-black via-transparent to-transparent z-20"></div>
        <!--Opened-->
        <div
          data-action="click->landing--customer#flipCard"
          data-landing--customer-target="overlay"
          class="hidden absolute w-full h-full bg-[#4A164E] opacity-[95%] z-30"></div>

        <div
          data-action="click->landing--customer#flipCard"
          class="absolute z-30 h-full w-full">
          <div class="flex w-full h-full">
            <div class="p-4 gap-3 grid grid-rows-3 w-full h-full">
              <div class="row-span-2 flex gap-2 h-full justify-between">
                <div class="flex flex-col gap-4 text-white">
                  <div class="w-14 h-14 flex-none rounded-full bg-gray-300 overflow-hidden border border-white border-2">
                    <% if business.logo.present? && business.logo.attached? %>
                      <%= image_tag url_for(business.logo), class: 'w-full h-full object-cover' %>
                    <% end %>
                  </div>
                  <div
                    data-landing--customer-target="overlayContent"
                    class="hidden w-full h-full flex flex-col gap-1">
                    <p class="<%= business.open? ? 'text-[#986C9B]' : 'text-red-400' %>"><%= business.open? ? 'Open Now' : 'Closed' %></p>
                    <p class="text-[#7A417E]"><%= business.open_at.strftime("%H:%M") %>
                      - <%= business.close_at.strftime("%H:%M") %></p>
                  </div>
                </div>
                <div class="flex gap-2">
                  <a
                    data-landing--customer-target="overlayContent"
                    data-action="click->landing--customer#openMap"
                    href="<%= business.gmap_link %>" target="_blank" class="hidden w-16 h-16 bg-[#68256D] rounded-2xl flex items-center justify-center">
                    <i class="lni lni-map text-3xl text-[#FDFDFD]"></i>
                  </a>
                </div>
              </div>
              <div class="w-full h-full flex items-center gap-2 justify-between">
                <h2 class="lg:hidden text-2xl text-white line-clamp-2 md:line-clamp-1"><%= business.name %></h2>
                <div class="flex gap-2 lg:items-end lg:justify-end w-fit lg:w-full">
                  <div class="w-14 h-14 lg:w-12 lg:h-12">
                    <%= render(Shared::CircularProgressComponent.new({
                                                                       percent: business.business_statistic.regular_rating_percent,
                                                                       progress_bg: 'text-purple-400',
                                                                       progress_color: 'text-purple-400',
                                                                       fill_color: 'fill-purple-200',
                                                                       value: business_regular_percent(business)
                                                                     })) %>
                  </div>
                  <div class="w-14 h-14 lg:w-12 lg:h-12 opacity-80">
                    <%= render(Shared::CircularProgressComponent.new({
                                                                       percent: business.business_statistic.customer_rating_percent,
                                                                       type: 'secondary',
                                                                       progress_bg: 'text-yellow-700',
                                                                       progress_color: 'text-yellow-400',
                                                                       fill_color: 'fill-yellow-400',
                                                                       value: business_customer_percent(business)
                                                                     })) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="h-full flex flex-col justify-between">
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col justify-between w-full">
        <div class="flex flex-col gap-2">
          <div class="flex w-full justify-between">
            <div class="px-4 pt-4">
              <h2 class="text-2xl font-bold"><%= business.name %></h2>
            </div>
            <div class="w-12 h-10 border-l border-b rounded-bl-lg flex-none overflow-hidden">
              <a href="<%= business.gmap_link %>" target="_blank" class="flex items-center justify-center w-full h-full text-gray-400 hover:bg-black hover:text-white overflow-hidden">
                <i class="lni lni-map text-2xl"></i>
              </a>
            </div>
          </div>
          <div class="flex w-full justify-between">
            <div class="px-4">
              <%- if business.open? %>
                <p class="text-sm text-gray-400"><span class="text-green-700 font-semibold">Open Now</span>
                  | <%= business.open_at.strftime("%H:%M") %>
                  - <%= business.close_at.strftime("%H:%M") %></p>
              <% else %>
                <p class="text-sm text-gray-400">Opening Hours: <%= business.open_at.strftime("%H:%M") %>
                  - <%= business.close_at.strftime("%H:%M") %></p>
              <% end %>
            </div>
          </div>
        </div>

        <div class="text-sm p-4 ">

          <div class="gap-2 items-center hidden lg:flex">
            <%- if business.business_statistic.total_regular.present? %>
              <span class="text-purple-600 flex items-center w-fit"><i class="lni lni-star-fill"></i></span>
              <p><%= business.business_statistic.total_regular %> regular customers</p>
            <% end %>
          </div>
          <div class="gap-2 items-center hidden lg:flex">
            <%- if business.business_statistic.total_customer.present? %>
              <span class="text-yellow-400 flex items-center w-fit"><i class="lni lni-star-fill"></i></span>
              <%= business.business_statistic.total_customer %> customers
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end.empty? and begin %>
    <div class="text-center flex col-span-1 md:col-span-2 flex-col items-center justify-center border p-10 bg-white rounded-2xl">
      <div class="w-60 pl-4 md:pl-0 md:w-80 opacity-40 mb-10">
        <%= image_tag 'undraw/dreamer.svg', class: 'w-full h-full p-2', alt: 'QR Code' %>
      </div>
      <p class="text-gray-500">No business listed yet.</p>
      <%= link_to business_root_url(host: Rails.application.credentials.dig(:host, :business)), target: '_blank', class: 'no-underline text-purple-500' do %>
        Be the first to add your business. It's free!
      <% end %>
    </div>
  <% end %>
</div>

<div class="flex items-center justify-center mt-10">
  <%- if @businesses.present? %>
    <p class="text-sm text-gray-400">You've reached the end.</p>
  <% end %>
</div>

<%- if @businesses.present? %>
  <div class="flex flex-col items-center justify-center text-gray-4 00">
    <div class="h-2"></div>
    <%= link_to business_root_url(host: Rails.application.credentials.dig(:host, :business)), target: '_blank' do %>
      <u>Add your business. It's free!</u>
    <% end %>
  </div>
<% end %>
<div class="h-20"></div>

<% if false %>
  <footer class="w-full bg-black text-white">
    <div class="w-full h-fit max-w-6xl text-white mx-auto py-20 grid grid-cols-2 md:grid-cols-4 gap-4 px-10">
      <div>
        <h2 class="text-xl font-bold">Regülar</h2>
        <div class="h-4"></div>
        <p>For business</p>
        <p>For reviewers</p>
      </div>
    </div>
    <div class="w-full text-center py-4 text-gray-600">
      <p>&copy; 2023 Regeular. All rights reserved.</p>
    </div>
  </footer>
<% end %>

<div class="h-20"></div>