<div class="flex flex-col gap-4 py-10 md:py-20 overflow-scroll no-scrollbar">
  <%= render 'dashboards/qrs/reviews/info' %>
  <%- unless @not_ready %>
    <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-10 md:px-10 md:px-0">
      <%= turbo_stream_from current_client.business, 'qr_codes_review' %>

      <div
        style="box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);"
        class="col-span-3 cursor-pointer order-2 py-10 md:py-6 md:order-4 w-full h-fit py-10 bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-1">
        <div id="codes" class="flex flex-col items-center">
          <div class="w-52 md:w-60 h-full p-4 text-center">
            <%= raw generate_qr(qr_code_url(reference: @qr.id)) %>
          </div>
          <p class="print:hidden"><%= link_to 'Go to link', qr_code_url(reference: @qr.id) if Rails.env.development? %></p>
        </div>
        <div class="w-full flex flex-col gap-2 px-4 items-center text-center">
          <h1 class="text-lg font-light text-gray-200">Share your review with us!</h1>
        </div>
      </div>
      <div class="w-full h-fit px-4 flex col-span-3 items-center justify-center text-center row-start-2">
        <p class="print:hidden text-gray-400">Tips: Increase phone brightness to help user scan easily.</p>
      </div>
    </div>
  <% else %>
    <div class="border rounded-2xl bg-white p-6 md:p-10 my-10 mx-10 md:mx-0 flex flex-col gap-4">
      <p>To get listed:</p>
      <div class="flex flex-col gap-2">
        <div class="flex gap-4 items-center">
          <span class="<%= @business.owner.confirmed_at.present? ? 'text-green-500' : 'text-gray-400' %> flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <p>Verified email</p>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.logo.present? && @business.logo.attached? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <div class="flex flex-col gap-1">
            <p>Business Logo</p>
            <%- unless @business.logo.present? && @business.logo.attached? %>
              <p class="text-gray-400">If you don't have a logo yet, you can easily use any image of your store
                front.</p>
            <% end %>
          </div>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.listing.present? && @business.listing.attached? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <p>Listing image of one of your product (i.e. foods, drinks, services, etc)</p>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.open_at.present? && @business.close_at.present? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <p>Business operating hours</p>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.gmap_link.present? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <div class="flex flex-col gap-1">
            <p>
              Google Map link (i.e., head over to Google Map > Share > Copy the link provided).
            </p>
            <p class="text-gray-400">
              Valid Google Map link looks like: https://maps.app.goo.gl/your_code
            </p>
          </div>
        </div>

        <p class="mt-4">We will then verify your application within 1-2 days.</p>
      </div>
    </div>
  <% end %>
</div>
