<div class="mx-10 max-w-2xl mx-auto">
  <div class="w-full border p-10 whitespace-pre-line break-words">
    3 minit sahaja.

    Dari masa tuan/puan untuk <%= params[:id] %>.

    - “Berapa ramai pelanggan tetap yang saya ada?”
    - “Apa ganjaran untuk pelanggan tetap <%= params[:id] %>?”
    - “Bagaimana nak raih lebih ramai lagi pelanggan tetap?”

    Assalamualaikum & salam sejahtera

    Pertamanya, kami…
    - Bukan food delivery.
    - Bukan Gr*b. Bukan FoodP*nda. Bukan MisiRaky*t.
    - Kami hanya melengkapi ekosistem sedia ada.

    Memperkenalkan “Regülar”. Konsepnya mudah, tetapi memberi impak yang menyeluruh untuk <%= params[:id] %>.

    https://business.regeular.io

    Caranya?
    1. <%= params[:id] %> tunjukkan QR Code
    2. Pelanggan tulis review & jadi pelanggan tetap
    4. Kutip ganjaran dari kedai tuan/puan sebagai “regular customer”.

    Tidak sampai 1 minit, <%= params[:id] %> dapat raih pelanggan beserta review mereka!

    Sistem ini sesuai untuk penjualan fizikal berbanding sistem lain yang lebih fokus pada penjualan online.

    Saya pulangkan semula 3 minit tuan/puan. Nampak menarik? Tuan/puan boleh balas mesej ini atau saya boleh booking slot untuk cuba terangkan apa yang kami cuba selesaikan.

    Terima Kasih,
    Zafranudin Zafrin, Regülar
  </div>
</div>