<%- unless current_client.confirmed? %>
  <div class="w-full px-10 md:px-0">
    <div id="announcement" class="flex w-full p-2 text-center justify-center bg-green-200 text-green-800 rounded-md">
      <p>Check your email for
        verification. <%= link_to "Resend?", new_dashboards_confirmation_path(email: current_client.email), class: 'text-blue-600', method: :get %></p>
    </div>
  </div>
<% end %>

<div class="flex flex-col gap-4 mt-10 md:mt-20">
  <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-10 md:px-0">
    <%= form_with(model: @business, url: dashboards_business_path(@business), local: true, method: :put,
                  data: { controller: 'dashboard--file-upload' },
                  class: ' h-[140px] md:h-[200px] flex-none order-4 md:order-1 md:col-start-1 row-start-1'
        ) do |form| %>
      <% if @business.logo.present? && @business.logo.attached? %>
        <label
          for="business_logo"
          data-action="mouseenter->dashboard--file-upload#mouseEnterUploaded mouseleave->dashboard--file-upload#mouseLeaveUploaded"
          data-dashboard--file-upload-target="logoUploadContainer"
          class="relative dashboard-glass cursor-pointer w-full h-full  overflow-hidden rounded-2xl border flex flex-col items-center justify-center gap-2 text-[#7731D0]">
          <div
            class="absolute w-full h-full z-10">
            <%= image_tag rails_blob_url(@business.logo), class: 'object-cover w-full h-full' %>
          </div>
          <div
            data-action="dashboard--file-upload#mouseClickUploaded"
            data-dashboard--file-upload-target="logoUploadedContainer"
            class="hidden absolute w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
            <div
              data-dashboard--file-upload-target="logoCtaHover"
              class="flex flex-col gap-1 items-center">
              <i
                data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                class="lni lni-pencil text-2xl text-white"></i>
              <button
                data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                class="hidden rounded bg-white px-3 py-1 hover:bg-purple-500 hover:text-white">
                Upload
              </button>
              <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="text-white hidden md:block">Click to
                update image</p>
              <%= form.file_field :logo, class: 'hidden', data: {
                action: 'change->dashboard--file-upload#changeFile',
                'dashboard--file-upload-target': 'logoFile',
              } %>

            </div>
          </div>
        </label>
      <% else %>
        <label
          data-action="mouseenter->dashboard--file-upload#mouseEnter mouseleave->dashboard--file-upload#mouseLeave click->dashboard--file-upload#mouseClick"
          data-dashboard--file-upload-target="logoUploadContainer"
          for="business_logo" class="dashboard-glass cursor-pointer w-full h-full border border-[#7731D0] border-dashed rounded-2xl py-14 flex flex-col items-center justify-center gap-2 text-[#7731D0]">
          <div
            data-dashboard--file-upload-target="logoCta"
            class="flex flex-col gap-1 items-center">
            <i class="lni lni-camera text-2xl"></i>
            <p>Company Logo</p>
          </div>
          <div
            data-dashboard--file-upload-target="logoCtaHover"
            class="hidden flex flex-col gap-1 items-center">
            <i
              data-dashboard--file-upload-target="logoCtaHoverIconPlus"
              class="lni lni-plus text-2xl"></i>
            <button
              data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
              class="hidden border rounded px-3 py-1 hover:bg-purple-500 hover:text-white">
              Upload
            </button>
            <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="hidden md:block">Click to add image</p>
            <%= form.file_field :logo, class: 'hidden', data: {
              action: 'change->dashboard--file-upload#changeFile',
              'dashboard--file-upload-target': 'logoFile',
            } %>

          </div>
        </label>
      <% end %>
    <% end %>

    <%= form_with(model: @business, url: dashboards_business_path(@business), local: true, method: :put,
                  data: { controller: 'dashboard--file-upload' },
                  class: 'flex-none order-5 md:order-3 h-[140px] md:h-[200px] row-start-1 md:row-start-2'
        ) do |form| %>
      <% if @business.listing.present? && @business.listing.attached? %>
        <label
          for="business_listing"
          data-action="mouseenter->dashboard--file-upload#mouseEnterUploaded mouseleave->dashboard--file-upload#mouseLeaveUploaded"
          data-dashboard--file-upload-target="logoUploadContainer"
          class="relative dashboard-glass cursor-pointer w-full h-full overflow-hidden rounded-2xl border flex flex-col items-center justify-center gap-2 text-[#7731D0]">
          <div
            class="absolute w-full h-full z-10">
            <%= image_tag url_for(@business.listing), class: 'object-cover w-full h-full' %>
          </div>
          <div
            data-action="dashboard--file-upload#mouseClickUploaded"
            data-dashboard--file-upload-target="logoUploadedContainer"
            class="hidden absolute w-full h-full z-20 bg-white/30 flex flex-col items-center justify-center backdrop-blur-sm">
            <div
              data-dashboard--file-upload-target="logoCtaHover"
              class="flex flex-col gap-1 items-center">
              <i
                data-dashboard--file-upload-target="logoCtaHoverIconPlus"
                class="lni lni-pencil text-2xl text-white"></i>
              <button
                data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
                class="hidden rounded bg-white px-3 py-1 hover:bg-purple-500 hover:text-white">
                Upload
              </button>
              <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="text-white hidden md:block">Click to
                update image</p>
              <%= form.file_field :listing, class: 'hidden', data: {
                action: 'change->dashboard--file-upload#changeFile',
                'dashboard--file-upload-target': 'logoFile',
              } %>

            </div>
          </div>
        </label>
      <% else %>
        <label
          data-action="mouseenter->dashboard--file-upload#mouseEnter mouseleave->dashboard--file-upload#mouseLeave click->dashboard--file-upload#mouseClick"
          data-dashboard--file-upload-target="logoUploadContainer"
          for="business_listing" class="dashboard-glass cursor-pointer w-full h-full border border-[#BF2D6A] border-dashed rounded-2xl py-14 flex flex-col items-center justify-center gap-2 text-[#BF2D6A]">
          <div
            data-dashboard--file-upload-target="logoCta"
            class="flex flex-col gap-1 items-center">
            <i class="lni lni-pointer-top text-2xl"></i>
            <p>Listing Image</p>
          </div>
          <div
            data-dashboard--file-upload-target="logoCtaHover"
            class="hidden flex flex-col gap-1 items-center">
            <i
              data-dashboard--file-upload-target="logoCtaHoverIconPlus"
              class="lni lni-plus text-2xl"></i>
            <button
              data-dashboard--file-upload-target="logoCtaHoverUploadBtn"
              class="hidden border rounded px-3 py-1 hover:bg-purple-500 hover:text-white">
              Upload
            </button>
            <p data-dashboard--file-upload-target="logoCtaHoverMessage" class="hidden md:block">Click to add image</p>
            <%= form.file_field :listing, class: 'hidden', data: {
              action: 'change->dashboard--file-upload#changeFile',
              'dashboard--file-upload-target': 'logoFile',
            } %>

          </div>
        </label>
      <% end %>
    <% end %>

    <div
      data-controller="dashboard--detail"
      data-action="mouseenter->dashboard--detail#showEdit mouseleave->dashboard--detail#hideEdit"
      class="order-1 md:order-2 w-full col-span-2 rounded-2xl h-[200px] p-6 flex flex-col justify-start gap-2 bg-gradient-to-l from-violet-500 to-indigo-500 rounded-[20px] shadow text-white">
      <div class="flex justify-between items-center">
        <div class="flex flex-col md:flex-row md:gap-4 md:items-center">
          <h1 class="text-2xl text-white"><%= @business.name %></h1>
          <small class="text-xs text-gray-300"><%= @business.registration_id %></small>
        </div>
        <%= link_to edit_dashboards_business_path, data: { 'dashboard--detail-target': 'editButton' }, class: 'hidden flex items-center' do %>
          <i class="lni lni-pencil-alt"></i>
        <% end %>
      </div>
      <p class="text-sm">
        <% if @business.address_line_1.present? %><%= @business.address_line_1 %><br>
        <% end %>
        <% if @business.address_line_2.present? %><%= @business.address_line_2 %><br>
        <% end %>
        <%= @business.postcode.present? ? @business.postcode + ',' : '' %> <%= @business.city %><br>
        <%= @business.state %>
      </p>
    </div>

    <%= link_to dashboards_path,
                class: 'cursor-pointer order-2 py-4 md:py-0 md:order-4 w-full h-[140px] md:h-[200px] bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4',
                style: 'box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);' do %>
      <h2 class="text-4xl md:text-6xl"><%= @regulars_total || 0 %></h2>
      <p class="text-sm">Regulars</p>
    <% end %>

    <%= link_to dashboards_customers_path, class: 'cursor-pointer order-3 py-4 md:py-0 md:order-5 w-full h-[140px] bg-purple-200 md:h-[200px] rounded-2xl flex flex-col items-center justify-center gap-4 text-gray-700' do %>
      <h2 class="text-4xl md:text-6xl"><%= @reviews %></h2>
      <p class="text-sm">Customers</p>
    <% end %>
  </div>
</div>

<%- if @business.logo.blank? || @business.listing.blank? || @business.owner.confirmed_at.blank? %>
  <div class="mb-20">
    <div class="border rounded-2xl bg-white p-6 md:p-10 my-10 mx-10 md:mx-0 flex flex-col gap-4">
      <p>To get listed:</p>
      <div class="flex flex-col gap-2">
        <div class="flex gap-4 items-center">
          <span class="<%= @business.owner.confirmed_at.present? ? 'text-green-500' : 'text-gray-400' %> flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <p>Verified email</p>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.logo.present? && @business.logo.attached? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <div class="flex flex-col gap-1">
            <p>Business Logo</p>
            <p class="text-gray-400">If you don't have a logo yet, you can easily use any image of your store front.</p>
          </div>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.listing.present? && @business.listing.attached? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <p>Listing image of one of your product (i.e. foods, drinks, services, etc)</p>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.open_at.present? && @business.close_at.present? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <p>Business operating hours</p>
        </div>
        <div class="flex gap-4 items-start">
          <span class="<%= @business.gmap_link.present? ? 'text-green-500' : 'text-gray-400' %> pt-1 flex items-center"><i class="lni lni-checkmark-circle"></i></span>
          <div class="flex flex-col gap-1">
            <p>
              Google Map link (i.e., head over to Google Map > Share > Copy the link provided).
            </p>
            <p class="text-gray-400">
              Valid Google Map link looks like: https://maps.app.goo.gl/your_code
            </p>
          </div>
        </div>

        <p class="mt-4">We will then verify your application within 1-2 days.</p>
      </div>
    </div>
  </div>
<% elsif (@business.logo.present? && @business.listing.present? && @business.owner.confirmed_at.present?) && @business.approved_at.blank? %>
  <div class="mb-20">
    <div class="border rounded-2xl bg-white p-6 md:p-10 my-10 mx-10 md:mx-0 flex flex-col gap-4">
      <p>Thank you! We will review your business within 24 hours.</p>
    </div>
  </div>
<% end %>