<div class="flex flex-col gap-4 my-10 md:my-10 px-10 md:px-0">
  <h1 class="text-2xl font-bold text-gray-600"><%= @business.name %></h1>
  <p class="text-sm text-gray-500">Here's your current reward based on your level and regularity.</p>

  <div class="p-8 flex gap-4 border rounded-lg">
    <div class="w-full flex flex-col gap-4 items-center justify-center text-sm mt-2">
      <%= render(Customer::Progress::BadgeComponent.new(progress: @progress)) %>
      <%= render(Customer::Progress::ExperienceComponent.new(progress: @progress)) %>
      <%= render(Customer::Progress::LevelComponent.new(progress: @progress)) %>
    </div>
  </div>

  <div class="mt-10 flex flex-col gap-4">
    <h2 class="text-lg text-gray-500 font-semibold">Rewards (<%= @rewards.count %>)</h2>
    <%- if @rewards.present? %>
      <div class="grid grid-cols-2 gap-4">
        <%- @rewards.each do |reward| %>
          <%= render partial: 'customers/dashboards/rewards/reward', locals: { reward: } %>
        <% end %>
      </div>
    <% else %>
      <%= render 'customers/dashboards/rewards/empty' %>
    <% end %>

  </div>
</div>
