<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).present? ? yield(:title) : 'Regeular' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="manifest" crossorigin="use-credentials" href="/business-manifest.json"/>

  <%= favicon_link_tag 'favicon_business.ico' %>

  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

  <%- if Rails.env.production? %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XCQNWZKQSN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-XCQNWZKQSN');
    </script>
  <% end %>
  <script type="text/javascript">
      !function(){"use strict";!function(e,t){var n=e.amplitude||{_q:[],_iq:{}};if(n.invoked)e.console&&console.error&&console.error("Amplitude snippet has been loaded.");else{var r=function(e,t){e.prototype[t]=function(){return this._q.push({name:t,args:Array.prototype.slice.call(arguments,0)}),this}},s=function(e,t,n){return function(r){e._q.push({name:t,args:Array.prototype.slice.call(n,0),resolve:r})}},o=function(e,t,n){e[t]=function(){if(n)return{promise:new Promise(s(e,t,Array.prototype.slice.call(arguments)))}}},i=function(e){for(var t=0;t<m.length;t++)o(e,m[t],!1);for(var n=0;n<g.length;n++)o(e,g[n],!0)};n.invoked=!0;var u=t.createElement("script");u.type="text/javascript",u.integrity="sha384-x0ik2D45ZDEEEpYpEuDpmj05fY91P7EOZkgdKmq4dKL/ZAVcufJ+nULFtGn0HIZE",u.crossOrigin="anonymous",u.async=!0,u.src="https://cdn.amplitude.com/libs/analytics-browser-2.0.0-min.js.gz",u.onload=function(){e.amplitude.runQueuedFunctions||console.log("[Amplitude] Error: could not load SDK")};var a=t.getElementsByTagName("script")[0];a.parentNode.insertBefore(u,a);for(var c=function(){return this._q=[],this},p=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove","getUserProperties"],l=0;l<p.length;l++)r(c,p[l]);n.Identify=c;for(var d=function(){return this._q=[],this},f=["getEventProperties","setProductId","setQuantity","setPrice","setRevenue","setRevenueType","setEventProperties"],v=0;v<f.length;v++)r(d,f[v]);n.Revenue=d;var m=["getDeviceId","setDeviceId","getSessionId","setSessionId","getUserId","setUserId","setOptOut","setTransport","reset","extendSession"],g=["init","add","remove","track","logEvent","identify","groupIdentify","setGroup","revenue","flush"];i(n),n.createInstance=function(e){return n._iq[e]={_q:[]},i(n._iq[e]),n._iq[e]},e.amplitude=n}}(window,document)}();

      amplitude.init('f8dfb6a6037816d20067eb1555824bac');
  </script>
</head>

<body class="lg:overscroll-y-none w-full" style="background-image: url('/assets/hero_bg.png'); background-repeat: no-repeat; background-size: auto 500px;">

<div id="flash">
  <%= render 'shared/flash' %>
</div>

<div class="mx-auto my-2 w-full max-w-4xl px-4 md:px-0">
  <%- if client_signed_in? %>
    <%= link_to dashboards_path, class: 'bg-white flex gap-4 items-center hover:bg-slate-50 w-fit px-4 py-2 rounded-md' do %>
      <%= image_tag "logos/regeular.png", class: 'w-8', alt: 'Regeular logo' %>
      <h3 class="text-xl">
        Dashboard
      </h3>
    <% end %>
  <%- else %>
    <%= link_to root_path, class: 'bg-white flex gap-4 items-center hover:bg-slate-50 w-fit px-4 py-2 rounded-md' do %>
      <%= image_tag "logos/regeular.png", class: 'w-8', alt: 'Regeular logo' %>
      <h3 class="text-xl">
        Regülar
      </h3>
    <% end %>
  <% end %>
</div>

<main class="mx-auto my-16 px-4 md:px-0">
  <div id="auths" class="border rounded-3xl px-10 md:px-20 py-8 max-w-lg w-full mx-auto bg-white shadow-lg shadow-gray-100">
    <%= yield %>
  </div>
</main>
</body>
</html>
