<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).present? ? yield(:title) : 'Regülar: Dashboard' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%- if Rails.env.staging? %>
    <link rel="manifest" crossorigin="use-credentials" href="/staging-business-manifest.json"/>
  <% else %>
    <link rel="manifest" crossorigin="use-credentials" href="/business-manifest.json"/>
  <% end %>
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#FFFFFF">

  <%= render 'shared/analytics/clients' %>

  <%= favicon_link_tag 'favicon_business.ico' %>

  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
</head>

<body
  data-controller="dashboard--profile-tray"
  data-action="click->dashboard--profile-tray#screenToggle"
  class="select-none overscroll-y-none">
<%= render 'shared/flash' %>
<div class="w-full pwa:h-[calc(100vh-28px)] h-full flex flex-col">
  <div class="w-full h-full overflow-hidden">
    <div class="w-full h-full">
      <div class="w-full h-full flex flex-col mb-20 overflow-hidden">
        <div class="print:hidden mx-auto max-w-3xl w-full pwa:hidden flex justify-between gap-3 my-4 px-4 md:px-0">
          <%= link_to clients_dashboards_path, class: 'rounded-md w-fit text-2xl text-gray-800 flex items-center justify-center cursor-pointer p-1' do %>
            <i class="lni lni-home"></i>
          <% end %>
          <div class="flex gap-4">
            <%= link_to clients_dashboards_reward_path, class: 'w-12 h-12 rounded-md bg-white border flex items-center justify-center' do %>
              <i class="lni lni-offer text-2xl font-light stroke-gray-100 text-gray-500"></i>
            <% end %>
            <%= link_to clients_dashboards_qrs_path, class: 'w-12 h-12 rounded-md bg-white border' do %>
              <%= image_tag 'icons/icon_qr.svg', class: 'w-full h-full p-2', alt: 'QR Code' %>
            <% end %>
            <div class="w-12 h-12 relative">
              <div
                class="absolute w-12 h-12 rounded-full bg-gray-400 cursor-pointer z-10 overflow-hidden">
                <% if current_client.avatar.present? && current_client.avatar.attached? %>
                  <%= image_tag url_for(current_client.avatar), id: 'profile_avatar_filled', data: { action: 'click->dashboard--profile-tray#toggle' } %>
                <% else %>
                  <div
                    id="profile_avatar"
                    data-action="click->dashboard--profile-tray#toggle"
                    class="w-40 h-40 bg-gray-400"></div>
                <% end %>
              </div>
              <div
                data-dashboard--profile-tray-target="menu"
                class="hidden absolute w-fit h-fit py-2 bg-white z-20 border top-0 right-0 mt-14 rounded-md flex flex-col text-center">
                <%= link_to "Account", clients_dashboards_account_path, class: 'p-4 py-2 hover:bg-gray-200 px-10 w-full' %>
                <%= link_to "Team", clients_dashboards_teams_path, class: 'p-4 py-2 hover:bg-gray-200 px-10 w-full' %>
                <hr class="my-2">
                <%= button_to "Logout", destroy_client_session_path, method: :delete, class: 'p-4 py-2 hover:bg-gray-200 px-10 w-full' %>

              </div>
            </div>
          </div>
        </div>
        <div class="w-full h-full overflow-hidden flex flex-col">
          <div class="shrink w-full h-fit p-4 hidden pwa:grid pwa:grid-cols-5">
            <%= yield :back_to %>
          </div>
          <div class="w-full h-full overflow-y-scroll mx-auto max-w-3xl w-full no-scrollbar">
            <%= yield %>
          </div>
        </div>
        <div
          data-controller="pwa"
          data-pwa-install-target="installButton"
          class="hidden p-4 bg-white border-t drop-shadow-lg flex flex-col items-center gap-2">
          <button
            data-action="click->pwa-install#installPWA"
            class=" bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Install App
          </button>
          <p class="text-gray-400">Download our PWA app</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="hidden pwa:flex shrink bottom-navbar z-50">
    <div class="bg-white w-full flex h-full px-4">
      <div class="w-full h-fit flex items-center justify-center">
        <%= link_to clients_dashboards_path, class: 'rounded-md w-full text-2xl p-4 text-gray-500 flex items-center justify-center' do %>
          <i class="lni lni-home"></i>
        <% end %>
      </div>
      <div class="w-full flex items-center justify-center">
        <%= link_to clients_dashboards_qrs_path, class: 'w-16 h-16 rounded-2xl p-1 bg-white border border-gray-200' do %>
          <%= image_tag 'icons/icon_qr.svg', class: 'w-full h-full p-2', alt: 'QR Code' %>
        <% end %>
      </div>
      <div class="w-full h-fit flex items-center justify-center">
        <%= link_to clients_dashboards_setting_path, class: 'rounded-md w-full text-2xl p-4 text-gray-500 flex items-center justify-center' do %>
          <i class="lni lni-user"></i>
        <% end %>
      </div>
    </div>
  </nav>
</div>

</body>
</html>
