<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).present? ? yield(:title) : 'Regeular' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%- if Rails.env.staging? %>
    <link rel="manifest" crossorigin="use-credentials" href="/staging-business-manifest.json"/>
  <% else %>
    <link rel="manifest" crossorigin="use-credentials" href="/business-manifest.json"/>
  <% end %>
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#FFFFFF">

  <%= render 'shared/analytics/clients' %>

  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
</head>

<body class="lg:overscroll-y-none">
<div id="flash">
  <%= render 'shared/flash' %>
</div>
<main class="">
  <%= yield %>
</main>
</body>
</html>
