<% if @business.present? %>
  <div class="flex flex-col gap-4 py-10 md:py-16 overflow-scroll no-scrollbar">
    <!--Auth-->
    <div class="flex flex-col justify-center items-center gap-4 px-5">
      <div class="w-full flex flex-col items-center justify-center">
        <% if customer_signed_in? %>
          <p>Welcome, <%= current_customer.full_name || current_customer.email %>!</p>
        <% end %>

        <% unless customer_signed_in? %>
          <p class="text-gray-400 text-sm md:text-normal">Quickly register or sign in to see benefit.</p>
        <% end %>
      </div>

      <div class="flex flex-col justify-center items-center gap-4">
        <% unless customer_signed_in? %>
          <div class="flex gap-2 items-center justify-center">
            <div class="flex gap-2 items-center justify-center">
              <% [:google_oauth2, :twitter].each do |provider| %>
                <%= button_to "/auth/#{provider}?role=customers", method: :post, data: { turbo: false },
                              class: 'border border-gray-300 px-4 py-3 flex items-center justify-between rounded-sm gap-4 fill-blue-400' do %>
                  <%= image_tag "logos/#{omniauth_logo(provider)}", class: 'border-none drops-shadow-none shadow-none w-4 fill-blue-400', alt: 'Your Image' %>
                  <p><%= "#{omniauth_name(provider)}" %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!--Review-->
    <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-4 md:px-10 md:px-0">
      <div
        style="box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);"
        class="col-span-3 order-2 py-10 md:py-20 md:order-4 w-full h-fit py-10 md:py-20 bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4">
        <div class="w-full flex flex-col gap-2 px-6 items-center text-center text-black">
          <h2 class="text-3xl font-bold text-white">How's the food?</h2>
          <div class="flex gap-1 w-full">
            <div class="h-[1px] w-full bg-purple-400 my-4 rounded-full drop-shadow-lg"></div>
          </div>

          <%= form_with model: @rating, url: qr_codes_review_path, class: 'w-full px-4', data: { controller: "qr--rating" } do |f| %>
            <div class="flex justify-center items-center space-x-2">
              <% (1..5).each do |rating_value| %>
                <label class="cursor-pointer" data-action="click->qr--rating#setRating click->qr--rating#toggleRating">
                  <%= f.radio_button :rating, rating_value, class: "sr-only" %>
                  <span class="star text-2xl text-gray-300">&#9733;</span>
                </label>
              <% end %>
              <%= f.hidden_field :rating, value: 0, data: { 'qr--rating-target': "ratingInput" } %>
              <%= f.hidden_field :business_id, value: @business.id %>
              <%= f.hidden_field :qr_code_id, value: @qr.id %>
            </div>

            <div class="mt-4 w-full">
              <%= f.text_area :description, placeholder: "Add a description", class: "w-full px-3 py-2 border rounded-lg", rows: 4, data: { 'qr--rating-target': "ratingInput" } %>
            </div>

            <%= f.submit "Submit", class: "mt-4 px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-blue-600 cursor-pointer" %>
          <% end %>
          <div class="md:h-2"></div>
        </div>
      </div>
    </div>

    <!--Benefits-->
    <%= render partial: 'qr_codes/reviews/benefit' %>
  </div>

<% else %>
  <div class="flex flex-col gap-4 py-10 mt-10 md:mt-16 md:py-16 overflow-scroll no-scrollbar">
    <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-4 md:px-10 md:px-0">
      <div
        style="box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);"
        class="col-span-3 order-2 py-10 md:py-20 md:order-4 w-full h-fit py-10 md:py-20 bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4">
        Invalid QR Code
      </div>
    </div>
  </div>
<% end %>