<div class="flex flex-col gap-4 my-10 md:my-10 px-10 md:px-0">
  <h1 class="font-bold text-2xl">Welcome<%= ", #{current_customer.first_name}!" if current_customer.first_name.present? %></h1>

  <%- if current_customer.customer_progresses.present? %>
    <div class="mt-10 flex flex-col gap-4">
      <h2 class="text-lg font-bold">Progress & Rewards</h2>
      <p class="text-gray-500 text-sm">See how far you're progressing and claim your rewards!</p>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <% current_customer.customer_progresses.each do |progress| %>
          <div class="px-4 py-8 border rounded-md bg-white">
            <%= progress.business.name %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-10 flex flex-col gap-4">
      <h2 class="text-lg font-bold">Reviews</h2>
      <p class="text-gray-500 text-sm">Keep track of your past reviews.</p>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <% current_customer.customer_progresses.each do |progress| %>
          <%= link_to customers_dashboards_reviews_path(business_id: progress.business_id), class: 'px-4 py-8 border rounded-md bg-white' do %>
            <%= progress.business.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render 'customers/dashboards/empty' %>
  <% end %>
</div>
