<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).present? ? yield(:title) : 'Regeular' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
  <%= favicon_link_tag 'favicon.ico' %>

  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
</head>

<body
  data-controller="dashboard--profile-tray"
  data-action="click->dashboard--profile-tray#screenToggle"
  class="lg:overscroll-y-none">
<div id="flash">
  <%= render 'shared/flash' %>
</div>
<div class="relative w-screen h-screen md:overflow-hidden">
  <div class="absolute w-full h-screen">
    <img src='/assets/mesh.png' class="overflow-hidden object-cover w-screen h-screen" alt="">
  </div>
  <div class="absolute w-screen h-screen overflow-scroll no-scrollbar">
    <div class=" w-full h-full mx-auto max-w-3xl flex flex-col">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
